/* General styles */

:root {
    --accent-color: #4154f1;
    --accent-dark-color: #3345e2;
    --accent-light-color: #ebedfb;
    --accent-ultra-light-color: #f6f6fe;

    --text-accent-color: #012970;
    --faded-bg-color: #f6f9ff;

    --tansition: 0.2s ease;
}

.accent-bg {
    background-color: var(--accent-light-color);
}

.navbar .logo {
    height: 30px;
    width: auto;
}

/* Redefining colors */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--accent-color);
    --bs-btn-border-color: var(--accent-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--accent-dark-color);
    --bs-btn-hover-border-color: var(--accent-dark-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    /* --bs-btn-active-bg: #0a58ca; */
    /* --bs-btn-active-border-color: #0a53be; */
    --bs-btn-active-bg: var(--accent-color);
    --bs-btn-active-border-color: var(--accent-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--accent-color);
    --bs-btn-disabled-border-color: var(--accent-color);
}

.btn-outline-primary {
    --bs-btn-color: var(--accent-color);;
    --bs-btn-border-color: var(--accent-color);;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--accent-color);;
    --bs-btn-hover-border-color: var(--accent-color);;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--accent-color);;
    --bs-btn-active-border-color: var(--accent-color);;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--accent-color);;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--accent-color);;
    --bs-gradient: none;
}

h6 a {
    color: inherit;
}

/* Sidebar styles */
.sidebar-nav .nav-link {
    color: var(--text-accent-color);
    background: #fff;
}

.sub-menu-special-icon {
    font-size: 16px !important;
    letter-spacing: -4px;
    margin-left: -5px;
}

.sidebar-nav .nav-content a.active .sub-menu-special-icon {
    background-color: transparent;
}

.sidebar-nav .nav-link.active {
    color: var(--accent-color);
    background: var(--faded-bg-color);
}

/* Dashboard styles */
.dashboard-page {
    display: flex;
    min-height: calc(100vh - 60px);
}

.dashboard-page .sidebar {
    position: relative;
    flex-shrink: 0;
}

.nav-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.card-list-item .card-body,
.card-list-item .card-title {
    transition: var(--tansition);
}

.card-list-item:hover .card-body,
.card-list-item:hover .card-title {
    color: var(--accent-color);
}

.card-list-item .card-img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    overflow: hidden;
}

.card-list-item .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.repository-item .card-img {
    width: 50px;
    height: auto;
}

.group-item .card-img {
    width: 55px;
    height: auto;
}

.search-btn {
    border-radius: 50%;
}

/* Home page styles */
.section {
    padding: 80px 0;
}

.offer-img {
    width: 100%;
    height: auto;
}

.swiper-pagination {
    position: static !important;
    margin-top: -10px;
}

.swiper-slide {
    height: auto !important;
    display: flex !important;
}

.swiper-pagination-bullet-active {
    background: var(--accent-color) !important;
}

.feature {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.feature .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
    color: var(--accent-color);
    background: var(--accent-ultra-light-color);
}

/* Loader styles */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--accent-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--accent-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

/* Comment section */
/* .comments-list {
    padding: 10px 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
} */

.file-download-btn {
    cursor: pointer;
}

.file-download-btn svg {
    height: 90px;
    width: auto;
}

.tag-remove-btn {
    cursor: pointer;
    color: lightpink;
    transform: 0.2s ease;
    transform-origin: center;
}

.tag-remove-btn:hover {
    transform: scale(1.1);
}

/* Media queries */
@media (min-width: 1200px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (max-width: 991px) {
    .dashboard-page .sidebar {
        position: fixed;
    }
}

